<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table border="1" th:with="target='u0001'">
  <tr>
    <td>MID</td>
    <td>MNAME</td>
    <td>REGDATE</td>
  </tr>
  <tr th:each="member : ${list}">
    <td th:text="${member.mid == target ? 'SECRET' : member.mid}"></td>
    <td th:text="${member.mname}"></td>
    <td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
  </tr>
</table>
</body>
</html>